body{
  color:rgb(230, 230, 230);
  background:rgb(14, 14, 16);
  font-family: monospace;
  text-align: center;
}
#inner-box{
  width: 500px;
  height: 400px;
  background: rgb(24, 24, 26);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inner-box-element{
  margin: 12px;
}

.signup-text:focus{
  outline: 0;
}

.logout-button,.signup-text{
  background: rgb(32, 33, 36);
  color: inherit;
  width: 197.375px;
  height: 32px;
  margin: 12px 6px;
  border-color: rgb(32, 33, 36);
  border-radius: 6px;
  border-width: 0;
  padding: 0;
}
.logout-button:hover{
  cursor: pointer;
  background: rgba(255,255,255,.32);
}